/* VehicleControl.css */
body {
    background-color: rgba(0, 0, 0, 0.0);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    display: none;
}

.vehicle-control {
    display: flex;
    justify-content: flex-start;
    /* Align items horizontally to the start */
    position: fixed;
    bottom: 0;
    height: 400px;
    left: 50%;
    color: white;
    transform: translateX(-50%);
    width: 80%;
    max-width: 1200px;
    /* Set a max-width for better responsiveness */
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(3, 165, 252, 0.2)
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Align items vertically in the center */
    padding-right: 10px;
    /* Add some space between categories and content */
    align-self: flex-start;
    /* Align this item to the start of the cross axis */
    padding-top: 60px;
}


.content-header {
    font-family: 'ethnocentric';
    position: relative;
    right: 120px;
}

.content {
    width: 100%;
    height: 100%;
}

.content-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;

    transition: opacity 0.5s ease-in-out;


}

.category {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    background: linear-gradient(90deg, rgba(82, 82, 82, 1) 0%, rgba(6, 6, 6, 0.1) 100%);
    width: 100px;
    border-radius: 5px;
}

.category-icon {
    margin-right: 5px;
}


.category-subtext {
    margin-top: 5px;
}

.selected {
    background: none;
    background: linear-gradient(90deg, rgb(12, 214, 255) 0%, rgba(6, 6, 6, 0.1) 100%);
}


.category-icon {
    margin-right: 8px;
    size: 12px;
    width: 32px;
    height: 32px;
}



.vehicle-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding-top: -20px;
}

.vehicle-engine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-radius: 180px;
    background-color: rgba(3, 165, 252, 0.1);
    width: 80px;
    height: 80px;
    cursor: pointer;
}


.vehicle-engine-status-on {
    width: 30px;
    height: 10px;
    border-radius: 20px;
    margin-bottom: 5px;
    justify-content: center;
    display: flex;
    align-items: top;
    background-color: rgb(15, 233, 15);

}

.vehicle-engine-status-off {
    width: 30px;
    height: 10px;
    border-radius: 20px;
    margin-bottom: 5px;
    justify-content: center;
    display: flex;
    align-items: top;
    background-color: rgb(86, 86, 86);
}

/*  Interior Lights */

.interior-lights-wrapper {
    display: flex;
    margin-top: 20px;
}

.interior-lights {
    border-radius: 12px;
    width: 120px;
    height: 120px;
    cursor: pointer;
    margin-left: 50px;

}

.interior-lights.on {
    background: linear-gradient(to top, rgba(13, 215, 255, 0.9) 0%, rgba(6, 6, 6, 0.4) 80%, rgba(6, 6, 6, 0.0) 100%);
}

.interior-lights.off {
    background: linear-gradient(to top, rgba(102, 102, 102, 0.9) 0%, rgba(6, 6, 6, 0.4) 80%, rgba(6, 6, 6, 0.0) 100%);
}

.interior-light-icon {
    margin-top: 50px;
    margin-left: 27%;
    width: 80px;
    height: 80px;
}

.interior-light-icon.on {
    color: rgb(13, 215, 255);
}

.interior-light-icon.off {
    color: rgb(102, 102, 102);
}


/* Exterior */


.exterior-lights-wrapper {
    display: flex;
    margin-top: 20px;
}

.exterior-lights {
    border-radius: 12px;
    width: 120px;
    height: 120px;
    cursor: pointer;
    margin-left: 50px;

}

.exterior-lights.on {
    background: linear-gradient(to top, rgba(13, 215, 255, 0.9) 0%, rgba(6, 6, 6, 0.4) 80%, rgba(6, 6, 6, 0.0) 100%);
}

.exterior-lights.off {
    background: linear-gradient(to top, rgba(102, 102, 102, 0.9) 0%, rgba(6, 6, 6, 0.4) 80%, rgba(6, 6, 6, 0.0) 100%);
}

.exterior-light-icon {
    margin-top: 40px;
    margin-left: 20%;
    width: 80px;
    height: 80px;
    color: white;
}

.exterior-light-icon.on {
    color: rgb(13, 215, 255);
    filter: invert(0%)
}

.exterior-light-icon.off {
    color: rgb(102, 102, 102);
    filter: invert(50%)
}

/* Gas / fuel */

.fuel-wrapper {
    display: flex;
    position: absolute;
    right: 0;
    top: 50px;
    margin-right: 15px;
}

.fuel-text {
    font-family: 'ethnocentric';
    font-size: 20px;
    margin-left: 7px;
    color: rgb(13, 215, 255);
    margin-top: 15px;
}

.vehicle-parts-wrapping {
    cursor: pointer;
}

.vehicle-parts-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}

.vehicle-parts-wrapping {
    cursor: pointer;
    position: absolute;
}

.LFD {
    position: relative;
    right: -200px;
    top: 60px;
}

.RFD {
    position: relative;
    right: -150px;
    top: -160px;
}

.LRD {
    position: relative;
    right: -200px;
    top: 60px;
}

.RRD {
    position: relative;
    right: -150px;
    top: -160px;
}



.TR {
    position: relative;
    right: -250px;
    top: -60px;
    transform: rotate(-90deg)
}

.HD {
    position: relative;
    right: 300px;
    top: -60px;
    transform: rotate(-90deg)
}

.FLW {
    left: 140px;
    /* Adjust this value based on your preference */
    top: 20px;
    /* Adjust this value based on your preference */
}

.FRW {
    left: 140px;
    /* Adjust this value based on your preference */
    top: -130px;
    /* Adjust this value based on your preference */
}

.BLW {
    left: 340px;
    /* Adjust this value based on your preference */
    top: 20px;
    /* Adjust this value based on your preference */
}

.BRW {
    left: 340px;
    /* Adjust this value based on your preference */
    top: -130px;
    /* Adjust this value based on your preference */
}

.FLS {
    left: 180px;
    /* Adjust this value based on your preference */
    top: -15px;
    /* Adjust this value based on your preference */
}

.FRS {
    left: 180px;
    /* Adjust this value based on your preference */
    top: -85px;
    /* Adjust this value based on your preference */
}

.BLS {
    left: 280px;
    /* Adjust this value based on your preference */
    top: -15px;
    /* Adjust this value based on your preference */
}

.BRS {
    left: 280px;
    /* Adjust this value based on your preference */
    top: -85px;
    /* Adjust this value based on your preference */
}